.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3e1f00;
    font-family: "Old Standard TT", serif;
    font-style: normal;
  }
  
  .faq-item {
    border: 1px solid #e2b690;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fdf2e9;
  }
  
  .faq-question {
    font-family: "Old Standard TT", serif;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #3e1f00;
    cursor: pointer;
  }
  
  .faq-question.active {
    color: #967d3d;
  }
  
  .faq-toggle {
    font-size: 1.5rem;
  }
  
  .faq-answer {
    padding: 10px 20px;
    background-color: #fef7f1;
    font-size: 1rem;
    font-family: "Kurale", serif;
    color: #4e4e4e;
    line-height: 1.6;
  }
  
  