.header {
  background-color: #D2A376;
  color: white;
  padding: 10px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5d5c61;
}

.logo {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.header-brand h1 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-size: 26px;
}

/* Стили для навигации */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu ul {
  gap: 20px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #5d5c61;
  font-family: "Old Standard TT", serif;
  font-weight: 900;
  font-size: 23px;
  position: relative; /* Для псевдоэлемента */
  transition: color 0.3s;
}

.nav-menu li a::after {
  content: '';
  position: absolute;
  bottom: -6px; /* Расположение линии */
  left: 50%; /* Начальная позиция в центре */
  width: 0; /* Изначальная ширина линии */
  height: 2px; /* Толщина линии */
  background-color: #3795ae; /* Цвет линии */
  transition: all 0.3s ease-out; /* Анимация линии */
  transform: translateX(-0%); /* Центровка линии */
}

.nav-menu li a:hover::after {
  width: 100%; /* Линия растягивается на всю ширину элемента */
  left: 0; /* Сдвигаем начало влево */
}

.nav-menu li a:hover {
  color: #3795ae; /* Цвет при наведении */
}

/* Гамбургер-кнопка */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #5d5c61;
  font-size: 24px;
  cursor: pointer;
}

/* ---- Адаптивные стили ---- */

/* На экранах до 768px */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #5d5c62;
    width: 200px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  .nav-menu.open {
    display: flex;
    position: absolute;
    z-index: 9999;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-menu li {
    padding: 5px;
    text-align: center;
  }

  .nav-menu li a{
    color: #b1a296;
  }

  .menu-toggle {
    display: block;
  }

  .header-brand h1 {
    font-size: 18px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}
