/* Общие стили для футера */
.custom-footer {
  background-color: #5d5c61; /* Фон градиент */
  padding: 40px 20px;
  color: black;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-bottom {
  padding: 0 0 10;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 20px;
  color: black;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #8c5a3d;
}

.footer-icon img {
  margin-right: 5px;
  width: 20px;
  height: 18px;
  border-radius: 80%;
  /* transition: transform 0.3s; */
}

.footer-bottom {
  align-items: center;
}

.footer-icon img:hover {
  transform: scale(1.1);
}

.footer-section p a {
  text-decoration: none;
  color: black;
}

.footer-section p a:hover {
  color: #8c5a3d;
}

  