/* Контейнер для всего компонента */
.about-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Стили для контента */
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Стили для изображения */
  .about-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
  }
  
  /* Стили для текста */
  .about-text {
    font-family: "Kurale", serif;
    margin-left: 20px;
    max-width: 600px;
  }
  
  /* Заголовок */
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  
  /* Параграф */
  .about-text p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  /* Адаптивность для мобильных устройств */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      align-items: center;
    }
  
    .about-image {
      margin-bottom: 20px;
    }
  
    .about-text {
      margin-left: 0;
      text-align: center;
    }
  }
  