.dogs-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: "Old Standard TT", serif;
  }

  .dogs-page h2 {
    text-align: left;
    font-family: "Old Standard TT", serif;
  }

  .fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1100;
}
  
  .fullscreen-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  
  .nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    border: none;
    font-size: 30px;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1200;
  }
  
  .nav-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transform: translateY(-50%) scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-button.prev {
    left: 20px;
  }
  
  .nav-button.next {
    right: 20px;
  }
  
  /* Добавляем анимацию на появление стрелок */
  .nav-button:focus {
    outline: none;
  }
  
  .nav-button svg {
    width: 20px;
    height: 20px;
  }  
  
  .fullscreen-modal .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .dogs-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .dog-card {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    width: calc(50% - 10px); /* Две карточки на строку */
    max-width: 450px; /* Максимальная ширина карточки */
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .dog-card:hover {
    transform: scale(1.05);
  }
  
  .dog-card img {
    width: 60%;
    object-fit: cover; /* Устанавливает обрезку изображения */
  }  
  
  .dog-card h2 {
    margin: 10px 0 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .dog-card p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #666;
  }
  
  /* Модальное окно */
  .dog-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .dog-modal p {
   text-align: left; 
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    height: 400px;
    max-height: 500px;
    width: 90%;
    z-index: 1001;
    text-align: center;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .dog-carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
  }
  
  .dog-carousel img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .dog-card {
      width: 150px;
    }
  
    .dog-card img {
      height: 120px;
    }
  
    .modal-content {
      max-width: 400px;
    }
  }
  
  @media (min-width: 1024px) {
    .dog-card img {
      height: 300px; /* Высота для больших экранов */
    }
  }

  
  