/* Базовые стили для снежинок */
.snowflake {
    position: fixed;
    top: -10px;
    color: #fff;
    user-select: none;
    pointer-events: none; /* Снежинки не будут мешать кликам */
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* Анимация падения */
  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  